body, html {
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
        Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    line-height: 1.4;
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("images/01.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-div {
    position: absolute;
    bottom: 40px;
    left: 41%;
}

.proceed-button {
    display: flex;
    margin: auto;
    text-align: center;
}

.download-button {
    margin: 5% 3% 5% 0;
    min-width: 250px;
}

button.btn.btn-dark.btn-lg.download-button:hover {
    color: #212529 !important;
    background-color: #fef9fa !important;
    border-color: #fef9fa !important;
}

.ism-logo {
    width: 100px;
    height: auto;
    position: absolute;
    left: 50px;
    top: 20px;
    opacity: 0.7;
}

.sg-logo {
    width: 100px;
    height: auto;
    position: absolute;
    top: 30px;
    right: 50px;
    opacity: 0.7;
}

@media only screen and (max-width: 600px) {
    .button-div {
        position: absolute;
        bottom: 40px;
        left: 75px;
    }

    .proceed-button {
        margin: auto;
        text-align: center;
    }

    .download-button {
        margin: 5% 3% 5% 0;
        min-width: 250px;
    }

    .ism-logo {
        width: 75px;
        height: auto;
        top: 35px;
        left: 30px;
    }
    .sg-logo {
        width: 75px;
        height: auto;
        right: 30px;
    }
}